html {
    background-color: white;
    font-family: arial, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
}

footer {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: gainsboro;
    height: 55px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.leftnav {
    text-align: left;
}

.rightnav {
    text-align: right;
}

.leftnav a, .rightnav a {
    color: dimgray;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
}

main {
    width: 40%;
    margin-top: 150px;
    margin-bottom: 250px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

div {
    margin: 25px 0px;
}

.search {
    box-shadow: 2px 2px 2px 2px gray;
}

.search input {
    width: 100%;
    height: 100%;
    font-size: 18px;
}

button {
    background-color: gainsboro;
    color: dimgray;
    font-weight: bold;
    display: inline-block;
    margin: 0px 10px;
    height: 35px;
    font-size: 12px;
}

